* {
    margin: 0px;
    background: #E5E5E5;
}

header {
    background: #40C9C0;
    height: 70px;
}

header a {
    color: #EFFBFA;
    background: #40C9C0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}
header a:hover
{
    color: #CFF2EF;
    background: #36BFB6;
}

main {
/*    border: 1px solid black;*/
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 20px;
}
